body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif;
}

#header {
  background-color: rgb(0, 133, 99);
  height: 150px;
}

.name {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  width: 60%;
  float: right;
  margin-right: 30px;
  color: white;
}

.name h3 {
  margin: auto;
}

#header img {
  margin: -15px auto;
  width: 180px;
  height: 180px;
  margin-left: 60px;
  border-radius: 50%;
}
hr {
  border: 1px solid rgb(2, 0, 0);
  margin-top: -15px;
  margin-left: 150px;
  margin-right: 150px;
}

.container {
  background: white;
  width: 60%;
  min-height: 100px;
  overflow: hidden;
  padding: 20px;
  margin: 100px auto;
}

#content {
  width: 56%;
  text-align: center;
  float: right;
  margin: 8px auto;
  margin-right: 2%;
}

.experiences h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}

.experiences h4 {
  font-size: 18px;
}

.experiences p {
  margin-top: -22px;
}

.experiences span {
  margin-top: -70px;
}

.education h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}
.education li {
  margin: 20px 0;
  list-style: none;
  text-align: left;
}

.education p {
  margin-top: -15px;
}

.edu-1 {
  float: left;
  width: 45%;
}

.edu-2 {
  float: right;
  width: 45%;
}

#side-bar {
  width: 36%;
  margin: 8px auto;
  text-align: center;
  float: left;
  margin-left: 2%;
}

.contact li {
  list-style: none;
}

.contact .phone img {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 45px;
  margin-top: 0px;
}

.contact .email img {
  width: 20px;
  height: 16px;
  float: left;
  margin-left: 45px;
  margin-top: 0px;
}

.contact .linkedin img {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 45px;
  margin-top: 0px;
}

.contact .location img {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 45px;
  margin-top: 0px;
}

.contact p {
  text-align: left;
  margin-left: 30%;
  margin-top: 0;
}

.contact h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}

.profile h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}

.skills li {
  margin: 20px 0;
  list-style: none;
  text-align: left;
}

.bar {
  background: #ffffff;
  display: block;
  margin-top: -20px;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(108, 194, 243);
}

.bar span {
  height: 2px;
  float: left;
  background: rgb(2, 83, 138);
}

.html {
  width: 90%;
}

.css {
  width: 65%;
}

.bootstrap {
  width: 50%;
}

.jquery {
  width: 80%;
}

.javascript {
  width: 70%;
}

.python {
  width: 95%;
}

.skills h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}

.languages h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}

.lang1 {
  width: 100%;
}

.lang2 {
  width: 80%;
}

.lang3 {
  width: 60%;
}

.languages li {
  margin: 20px 0;
  list-style: none;
  text-align: left;
}

.interests h3 {
  background-color: rgb(0, 133, 99);
  color: white;
  letter-spacing: 5px;
}
